body{
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height:100%;
    padding:10%;
}
.QR {
    background-color:hsl(0, 0%, 100%);
    padding:15px;
    border-radius:15px;
    width:375px;
    margin-left:auto;
    margin-right:auto;
}
h1 {
    font-weight:700;
    font-size:1.5rem;
    padding:10px;

}
p {
    font-weight:400;
}
img {
    width:100%;
    border-radius:15px;
}